body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("green-background.jpg");
    background-size: cover;
    text-align:center;
    color:white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;

}

h1 {
    color: goldenrod;
    font-size: 100px;
    text-shadow: black;
}

#message-el {
    font-size: 50px;
    font-style: italic;
}

button {
    color: #016f32;
    width: 300px;
    background: goldenrod;
    font-size: 40px;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}